package ${absolutePath}.entity;

import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableName;
#if($entityTag == 'IdEntity')
import com.application.cloud.dynamic.datasource.datatool.IdEntity;
#elseif($entityTag == 'BasicEntity')
import com.application.cloud.dynamic.datasource.datatool.BasicEntity;
#elseif($entityTag == 'GenericEntity')
import com.application.cloud.dynamic.datasource.datatool.GenericEntity;
#else
import java.io.Serializable;
#end
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
import lombok.NoArgsConstructor;
import javax.validation.constraints.NotEmpty;
import javax.validation.constraints.NotNull;
import javax.validation.constraints.Size;
#if(${hasBigDecimal})
import java.math.BigDecimal;
#end
#if($dateType == 'YES')
import java.time.LocalDateTime;
#end

/**
 * ${tableComment}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Data
@TableName("${tableName}")
@NoArgsConstructor
@ApiModel(value="${lowerClassName}",description="${tableComment}", parent = ${upperClassName}Entity.class)
#if($entityTag == 'IdEntity')
public class ${upperClassName}Entity extends IdEntity {
#elseif($entityTag == 'BasicEntity')
public class ${upperClassName}Entity extends BasicEntity {
#elseif($entityTag == 'GenericEntity')
public class ${upperClassName}Entity extends GenericEntity {
#else
public class ${upperClassName}Entity implements Serializable, Cloneable {
	/**序列化*/
	private static final long serialVersionUID = 1L;
#end
    /**
    * 表名
    */
    public static final String TABLE_NAME = "${tableName}";

#foreach ($column in $tableColumns)
 	/**$column.columnComment*/
#if($column.columnName == $primaryKey.columnName)
    @TableId
#end
#if($column.attributeType == "String")
#if($column.isNullable == "YES")
    @NotEmpty(message = "${column.columnComment}-必填")
    @Size(min = 0,max = ${column.characterMaximumLength},message ="${column.columnComment}不能超过${column.characterMaximumLength}" )
#end
#elseif($column.attributeType != "String")
#if($column.isNullable == "YES")
    @NotNull(message = "${column.columnComment}-必填")
#end
#end
    @ApiModelProperty(value="${column.columnComment}",name="${column.lowerAttrName}",dataType="${column.attributeType}")
    private $column.attributeType $column.lowerAttrName;
    /**$column.columnComment 对应的静态变量值*/
	public static final String FIELD_$column.staticFinalName = "$column.lowerAttrName";

#end

}
